/* .sd-title {
  color: blue;
}

.sd-page__title {
  color: blue;
} */

/* .sd-title > span {
  color: blue;
} */

/* .sv-string-viewer {
  color: blue;
} */


.sd-body__progress {
  position: sticky;
  top: 0;
}
